# Only needed for encrypted files
# Shouldn't need for '.env.local'; leave unencrypted as gitignored
DOTENV_PUBLIC_KEY_PRODUCTION=''


# [ Supabase ] Configuration
# ======================================
SUPABASE_PROJECT_REF=your_supabase_project_id
SUPABASE_URL="https://${SUPABASE_PROJECT_REF}.supabase.co"

# Formerly "Anon key" (deprecated)
SUPABASE_PUBLISHABLE_KEY=sb_publishable_YOUR_KEY
# Formerly "Service Role Key" (deprecated)
SUPABASE_SECRET_KEY=sb_secret_YOUR_KEY


# [ Vite ] Configuration
# =================================
# URL to python backend / Supabase edge functions
VITE_REST_API_URL=''

# Take directly from above definition, if not already injected into environment
VITE_SUPABASE_URL="${SUPABASE_URL}"
VITE_SUPABASE_PUBLISHABLE_KEY="${SUPABASE_PUBLISHABLE_KEY}"
# DO NOT ADD SUPABASE_SECRET_KEY TO THE FRONTEND. No browser exposure.


# [ Stripe ] Configuration
# =================================
STRIPE_SECRET_KEY=''
